* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    ;
}

body,
html {
    height: 100%;
    width: 100%;

}

.navbar {
    height: 84px;
    width: 100%;
    /* background-color: white; */
    background-color: rgba(53, 53, 53, 0.226);
    display: flex;
    /* align-items: center; */
    position: fixed;
    top: 0;

}

.mainimg {
    /* margin-top: 50px; */
    height: 100vh;
    width: 100%;
}

.img1 {
    height: 100vh;
    width: 100%;
}

.logo {
    width: 20%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding-right: 30px;
}

.logoimg {
    height: 30px;
}

.menu1 {
    width: 45%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.menu2 {
    width: 35%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.menu1 a {
    text-decoration: none;
    color: white;
    /* background-color: red; */
    padding: 32px 0;
}

.menu1 a:hover {
    text-decoration: underline;
    color: white;
}

.menu2 a {
    text-decoration: none;
    color: white;
}

.menu2 a:hover {
    text-decoration: underline;
    color: white;
}

#loginid1 {
    padding: 32px 0;
}

#signupid1 {
    padding: 32px 0;
}

#postbutton {
    background-color: #E60278;
    padding: 7px 12px;
    border-radius: 5px;
    color: white;
}

.backgroundimg1 {
    height: 100vh;
    background-image: url("./enterprise-upsell-v5-desktop-test.jpg");
    background-size: 100% 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.name {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 45%;
    width: 100%;
}

.twobuttons {
    display: flex;
    margin-left: 45%;
    width: 100%;
    gap: 20px;

}

.orderedlist {
    margin-left: 55%;
    width: 100%;
    font-size: large;

}


.button1 {
    background-color: #E60278;
    padding: 10px 20px;
    border-radius: 3px;
}

.button2 {
    background-color: rgba(221, 40, 146, 0);
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid white;
}

.button1 a {
    color: white;
    text-decoration: none;
}

.button1 a:hover {
    color: white;
    text-decoration: underline;
}

.button2 a {
    color: white;
    text-decoration: none;
}

.button2 a:hover {
    color: white;
    text-decoration: underline;
}

.name,
.orderedlist {
    margin-bottom: 30px
}

.fixedimg {
    position: fixed;
    bottom: 70px;
    right: 30px;
}



.companylogo {
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.companylogo a img {
    width: 9vh;
}

.companylogo h2 {
    color: white;
}




.container {
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: #0f172a;
    color: white;
    width: 80%;
    /* height: 100%; */
}

.sidebar {
    width: 260px;
    background: #111827;
    padding: 20px;
    border-radius: 10px;
}

.side-item {
    margin-bottom: 30px;
}

.side-item h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.side-item p {
    font-size: 13px;
    color: #9ca3af;
}

.content {
    flex: 1;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.333% - 14px);
    height: 160px;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.yellow {
    background: #facc15;
    color: #000;
}

.purple {
    background: #a855f7;
}

.blue {
    background: #60a5fa;
}

.darkblue {
    background: #1e40af;
}

.orange {
    background: #f59e0b;
    color: #000;
}

.pink {
    background: #ec4899;
}

.rightbar {
    width: 260px;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.rightbar h3 {
    margin-bottom: 15px;
}

.rightbar ul {
    list-style: none;
    margin-bottom: 15px;
}

.rightbar ul li {
    font-size: 14px;
    padding: 6px 0;
    color: #cbd5f5;
}

.rightbar a {
    color: #3b82f6;
    text-decoration: none;
    font-size: 14px;
}

.container1 {
    position: absolute;
    top: 84px;
    display: none;
}

#hirefreelancer:hover+.container1 {
    display: block;
}

.container1:hover {
    display: block;
}

.main2 {

    height: 100vh;
    width: 100%;
    /* box-sizing: border-box; */

    background-image: url(./main2/imgi_86_make-it-real-bg-t.jpg);
    background-size: 100%;
}

.main2 {
    color: white;
    font-size: xx-large;

}

.mainhead {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.mainhead1 {
    color: #e60278;
    margin-top: 50px;
}

.main2para {
    width: 100%;
    display: flex;

}

.mainsec1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    /* gap: px; */
    margin-left: 100px;
    margin-top: 50px;

}

.mainsec2 {
    width: 50%;
    position: relative;



}

.mainsec2img {
    width: 200px;
    position: absolute;
    top: 0;
    /* bottom: 50px; */
    right: 200px;
}

.main2para1 {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.main2para2 {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main2para3 {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main2para4 {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blackback1 {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 0, 0);
}

.linkanchor1 {
    display: flex;
    color: #e60278;
    margin-top: 10px;
    font-weight: bolder;
}

.linkanchor1 a {
    /* font-style: none; */
    text-decoration: none;
    color: #e60278;
    font-size: large;

}

.blackback1 h2 {
    color: white;
    /* margin-left: 100px; */
    font-size: xx-large;
}

.blackback2 {
    color: white;
    margin-left: 100px;
}

.fa-solid {
    margin-left: 5px;
    margin-top: 2px;
}

.imgcatalogue {
    width: 100%;
    display: flex;
    padding: 50px;
    background-color: black;
    gap: 10px;
}

.imgsec1 {
    width: 50%;
}

.imgsec2 {
    width: 50%;
}

.catimg {
    width: 100%;
    border-radius: 10px;
}

.imgsec2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.catimg1 {
    border-radius: 10px;
    width: 280px;
}

.catimg2 {
    border-radius: 10px;
    width: 280px;
}

.catimg3 {
    border-radius: 10px;
    width: 280px;
}

.catimg4 {
    border-radius: 10px;
    width: 280px;
}

/* footer start */




.footer {
    background: radial-gradient(circle at top, #1a1f26, #0b0e12);
    color: #fff;
    padding: 60px 40px;
    /* width: 100vw; */

}

.footer-container {
    width: 100;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
}

.footer-col {
    width: 180px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #cfd3da;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #fff;
}



.brand {
    width: 220px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo i {
    color: #4aa3ff;
}

.icon-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    font-size: 14px;
}

.apps img {
    width: 100px;
    margin-bottom: 12px;
    display: block;
}

.social {
    display: flex;
    gap: 18px;
    margin-top: 15px;
}

.social i {
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.social i:hover {
    color: #4aa3ff;
}



/* footer endsssssssssssss */
/* website endsssssssss */